*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d; 
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
